<form [formGroup]="requestData" novalidate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Request line</mat-card-title>
      <mat-card-subtitle>Send request to calculate and render new line</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ksi" formControlName="ksi">
            <mat-error *ngIf="requestData.controls['ksi'].hasError('required')">
              Ksi is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Mass" formControlName="mass">
              <mat-error *ngIf="requestData.controls['mass'].hasError('required')">
                Mass is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        <div class="col">
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Submit</button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>